<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <header>
      <div class="page-name">
        <a href="/admin/home">
          <i class="fa-solid fa-arrow-left fa-lg" style="color: green"></i
        ></a>
        <h3>Complaint Box</h3>
      </div>
    </header>
    <main>
      <% complaint.forEach(complain => { %>
        <section class="each">
          <aside class="name info">
              <span class="sub-title">Sender-name:</span>
              <% if (complain.student) { %>
                <span><%= complain.student.name %></span><br />
                <% } else {%>
                  <span>N/A</span><br />
              <% } %>
          </aside>
          <aside class="matric-no info">
              <span class="sub-title">Matric-no:</span>
              <% if (complain.student)  {%>
                <span><%= complain.student.matric_no %></span><br />
                <% } else {%>
                  <span>N/A</span>
              <% } %>
          </aside>
          <aside class="title info">
              <span class="sub-title">Title:</span>
              <span><%= complain.title%></span>
          </aside>
          <aside class="body info">
              <span class="sub-title">Body:</span>
              <p><%= complain.body.slice(0, 125)%></p>
          </aside>
          <aside class="action">
            <div style="transform: rotate(90deg);" class="menu"><i>•</i><i>•</i><i>•</i></i></div>
            <div class="take-action">
            <span class="read" style="color: green;">Read More</span>
            <span class="delete" style="color: red;">
              Delete
            </span>
          </div>
          </aside>
      </section>
     <% }); %>
    </main>
  </body>
</html>
